.background {
	background-color: #8A2BE2;
}

/*Header styling*/
.header {
	text-align: center;
}
.header-title {
	color: white;
	font-size: 60px;
	font-family: "Indie Flower";
}
.fa {
	color: white;
	font-size: 40px !important;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.header-text {
	color: white;
	font-size: 20px;
	margin-bottom: 50px;
	font-family: "Montserrat";
}

/*Search styling*/
.search {
	text-align: center;
}
.form-group {
	width: 60%;
}
.form-control {
	width: 100% !important;
}
.search-input {
	margin: 0 auto;
	background-color: #8A2BE2;
	height: 35px;
	color: lightgray;
}
.search-go {
	background-color: #8A2BE2;
	width: 15%;
	color: lightgray;
}
.search-go:hover {
	background-color: #8A2BE2;
	color: maroon;
}
.checkbox {
	margin-left: 76.5%;
	color: lightgray;
}
.special-text {
	text-align: center;
	color: lightgray;
	width: 110%;
}
.special-options {
	width: 30%;
	margin-left: 35%;
	text-align: center;
}
.nopub {
	text-align: center;
	font-size: 25px;
}


/* Search-input placeholder color */
*::-webkit-input-placeholder {
    color: lightgray !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: lightgray !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: lightgray !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgray !important;
}

/* Yelp data styling */
#pub-data {
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	width: 82%;
	margin-left: 9%;
	z-index: 1;
}
.pub-element {
	margin-top: 10px;
	height: 120px;
}
.pub-element:hover {
	border-style: outset;
	border-width: 1px;
	border-color: white;
	border-radius: 5px;
}
.pub-name {
	margin-left: 120px;
	margin-top: 25px;
	position: absolute;
	color: white;
	font-size: 18px;
}
.pub-image {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	border-radius: 8px;
	position: absolute;
}
.going-button {
	margin-top: 25px;
	margin-left: 70%;
	position: absolute;
	background-color: #8A2BE2;
	color: white;
}
.going-button:hover {
	background-color: #8A2BE2;
	box-shadow: inset 0 0 0 2px white;
	color: white;
}
.pub-text {
	margin-top: 70px;
	margin-left: 130px;
	position: absolute;
}

/*Footer Styling*/
.footer {
  text-align: center;
  padding-top: 60px;
  background-color: #8A2BE2;
  font-family: fantasy;
  margin-bottom: 25px;
  color: navy;
}
.author {
  color: #DF830A;
}
.author:hover {
  text-decoration: none;
  color: maroon;
}